* {
    font-family: Verdana, Arial, sans-serif;
    --main-colour: #58afdf;
    --alternate-colour: #3f3fd5;
}

header, nav {
    background-color: #ffffff;
}

header a, header a:hover, header a:visited, header a:focus {
    color: var(--main-colour);
}

a, a:hover, a:visited, a:active, a:focus {
    color: var(--main-colour);
    text-decoration: none;
}

.nav-item:hover {
    background-color: var(--main-colour);
    color: #ffffff;
}

.nav-item a:hover {
    color: #ffffff;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--main-colour);
}

button, .btn, .btn-primary,
button:hover, button:focus, button:active,
.btn:hover, .btn:focus, .btn:active,
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    padding: 5px 20px;
    border: transparent;
    border-radius: 20px;
    background-color: var(--main-colour) !important;
    color: #ffffff;
}

button:active, .btn:active, .btn-primary:active {
    background-color: var(--alternate-colour) !important;
}

.btn a, .btn a:hover, .btn a:visited, .btn a:active, .btn a:focus {
    color: #ffffff;
    text-decoration: none;
}

.form-container {
    background-image: url("../img/cbt-centre.jpg");
}